# MongoDB Atlas Configuration
MONGODB_USER=mitanshp3_db_user
MONGODB_PASS=0dhm3TDzbI7aezrI
MONGODB_CLUSTER=cluster0.mongodb.net
MONGODB_URI=mongodb+srv://mitanshp3_db_user:0dhm3TDzbI7aezrI@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_TARGET=ablation_study.results